@{
    ViewData["Title"] = "Beers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Bar.Models.Beer

<h1>Add a beer to the database</h1>
<form method="post" asp-action="Create" asp-controller="Beers" enctype="multipart/form-data">
    <label for="name">Beer Name</label>
    <input type="text" id="name" name="name" />
    <br />
    <label for="type">Beer Type</label>
    <input type="text" id="type" name="type" />
    <br />
    <label for="price">Beer Price</label>
    <input type="number" id="price" name="price" min="0"/>
    <br />
    <label for="picture">Beer Picture</label>
    <input type="file" id="picture" name="picture" />
    <br />
    <input class="btn" type="submit" value="Add Beer" />

</form>
}