@model Bar.Models.Beer
@{
    ViewData["Title"] = "@Model.Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Image = "";
    if (Model.Picture != null)
    {
        var base64 = Convert.ToBase64String(Model.Picture);
        Image = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<h1>@Model.Name</h1>
<img height="50%" width="50%" src="@Image" />
<hr />
@foreach(Bar.Models.BeerPatron beerPatron in Model.BeerPatrons.ToList())
{
    <div class="card">
        <div class="card-content">
            <h4><a href="/Beers/Details/">@beerPatron.Patron.Name</a></h4>
        </div>
    </div>
}